main {
  margin: 0 auto;
  max-width: 90%;
  padding: 10px 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--accent-secondary);
}

:root {
  --primary: #f1faee;
  --secondary: #a8dadc;
  --tertiary: #457b9d;
  --accent-primary: #e63946;
  --accent-secondary: #1d3557;
  --radius: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--secondary);
  color: var(--accent-secondary);
  background-image: url("../src/assets/cover/heroImg.jpg");
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.portfolioBackdrop {
  border: 4px solid var(--accent-secondary);
}

.projectContainer {
  margin: 0.5rem;
  border: 4px solid var(--accent-primary);
}

.projectTitle {
  color: var(--accent-secondary);
}
