main {
  margin: 0 auto;
  max-width: 90%;
  padding: 10px 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--accent-secondary);
}

:root {
  --primary: #f1faee;
  --secondary: #a8dadc;
  --tertiary: #457b9d;
  --accent-primary: #e63946;
  --accent-secondary: #1d3557;
  --radius: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: var(--secondary);
  color: var(--accent-secondary);
  background-image: url("../src/assets/cover/heroImg.jpg");
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.navActive {
  color: var(--accent-primary);
}

.nav-list {
  margin-left: auto;
}

.projectContainer {
  margin: 1rem;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--accent-secondary);
  color: var(--secondary);
  border-top: 4px solid var(--accent-primary);
  padding: 0.5rem;
}

.contact-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-info-content a {
  display: flex;
  text-decoration: none;
  color: var(--secondary);
  padding: 10px;
}
